<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="http://phonegap.com/ns/1.0" 
        id="com.tlemo.app" 
        version="1.0.0">
    
    <name>Tlemo App</name>
    <description>Application Tlemo moderne</description>
    <author href="https://tlemo.com" email="contact@tlemo.com">Votre Nom</author>
    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="Fullscreen" value="false" />
    
    <icon src="icon.png" />
    <splash src="splash.png" />
    
    <content src="https://votre-site-tlemo.com" />
    <access origin="*" />
    
    <allow-navigation href="https://votre-site-tlemo.com/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="http://*/*" />
</widget>